
<section class="toc">
  <div class="wrapper">
	<div class="row">
	  <!--<div class="col span-4">
		<h3>Product Info</h3>
		<ul>
		<li>Gyro</li>
		<li>Open Source</li>
		<li>Store</li>
		<li>Developers</li>
		<li>Get Started</li>
		<li>Play & Learn</li>
		<li>Teachers</li>
		<li>Accessory Setup Guide</li>
		</ul>
	  </div>-->
	  
	  <div class="col span-4">
		<h3>Company</h3>
		<ul>
		<li><a href="http://artica.cc" target="_blank">About Us</a></li>
		<!--<li>Blog</li>
		<li>Partners</li>
		<li>Affiliates</li>
		<li>Careers</li>
		<li>IP Policy</li>-->
		</ul>
	  </div>                   
	  
	   <div class="col span-4">
		<h3>Inquiries</h3>
		<ul>
		<!--<li>Help</li>-->
		<li><a href="mailto:info@artica.cc?subject=Gyro Information">Contact Us</a></li>
		<!--<li>Press</li>
		<li>Media Kit</li>
		<li>Warranty</li>
		<li>Product Support</li>-->
		</ul>
	  </div>
	  
	</div> 
  </div>
</section>

<section class="contact-icons">
  <div class="wrapper">
	<a href="https://twitter.com/artica_cc">
	  <span class="fa fa-twitter"></span>
	</a>
	<a href="https://www.facebook.com/gyrotherobot">
	  <span class="fa fa-facebook"></span>
	</a>
	<a href="https://www.youtube.com/user/articacc">
	  <span class="fa fa-youtube"></span>
	</a>
	<a href="https://github.com/artica">
	  <span class="fa fa-github"></span>
	</a>
	<a href="https://www.instagram.com/gyroartica/">
	  <span class="fa fa-instagram"></span>
	</a>
	<a href="mailto:info@artica.cc?subject=Gyro Information">
	  <span class="fa fa-envelope"></span>
	</a>
  </div>
</section>
