<header class="main-nav">
  <div class="wrapper" style="margin:0;">
	<div style="width:50%; float:left;">
		<a href="/" title="Back to Gyro Home">
			<span itemprop="name"><img src="gfx/logo.png" /></span>
		</a>
	</div>
	<div style="width:50%; float:right;">
		<nav class="group" role="navigation">
		  <span class="nav-toggle">Sections</span>		  
		 
		  <ul>
			<li><a href="play-learn.html" class="">Play & Learn</a></li>
			<li><a href="education.html" class="">Education</a></li>
			<li><a href="courses.html" class="">Courses</a></li>				
			<li><a href="prices.html" class="">Prices</a></li>
			<!--<li><a href="http://forum.artica.cc/viewforum.php?f=16" class="" target="_blank">Forum</a></li>-->
		  </ul>
		</nav>
	</div>
  </div>
</header>
